<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <link rel='icon' href='./static/img/logo.png' type='image/x-icon' />
    <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Arimo:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>{{ title }}</title>

    {% block head %}
    {% endblock %}
</head>

  <body>
        <header>
            <h1 class="logo"><a href="/">Lauren Ciha</a></h1>
            <!-- Navigation-->
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <h2 class="nav-logo"><a href="/">Lauren Ciha</a></h2>
                <ul>
                    <li><a href="/#about">About Me</a></li>
                    <li><a href="/#work">Experience</a></li>
                    <li><a href="/#education">Education</a></li>
                    <li><a href="/#hobbies">Hobbies</a></li>
                    <li><a href="/#locations">Places Visited</a></li>
                    <li><a href="/timeline">Timeline</a></form></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
    {% block body %}
    {% endblock %}
  </body>
</html>