{% extends "base.html" %}

{% block body %}
    <!-- Landing Page -->
    <section id="intro">
        <div class="container">
            <div class="split">
                <div class="intro-text">
                    <!-- Intro Text-->
                    <div class="intro-text-inner">
                        <h1 class="intro-heading">Hi! I'm Lauren.</h1>
                        <p>I'm an up and coming software engineer exploring technology and what it means for us.</p>
                    </div>
                    <p class="buttons-social"> 
                        <a class="button-social" href="https://linkedin.com/in/lauren-ciha"><i class="fab fa-linkedin-in"></i></a>
                        <a class="button-social" href="https://calendly.com/lauren-ciha"><i class="fas fa-calendar-alt"></i></a>
                        <a class="button-social" href="https://github.com/lauren-ciha"><i class="fab fa-github"></i></a>
                    </p>
                </div>
                <div>
                    <img class="headshot" src="./static/img/lauren.jpg" alt="My current headshot" />
                </div>
            </div>
        </div>    
    </section>

    <!-- About Me -->
    <section id="about" class="bg-alternate">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="section-title">About Me</h2>

            <!-- About Section Content-->
            <div>
                <p>I'm a rising senior studying computer sciences and philosophy at the University of Wisconsin-Madison. My experience includes Java, C#/Unity, and Python. In the first half of 2020, I taught myself C# and Unity to program the movement of a virtual reality character.</p>
                <p>Although I'm currently in Madison, I am going to live outside of the Midwest as an intern or after I graduate in December 2023. Outside of programming, I enjoy reading (often several books at the same time), writing, and spending as much time by Madison's lakes as I can.</p>
                <p>I'm searching for internships, co-ops, and/or full-time roles starting as soon as fall 2022.</p>
            </div>
        </div>
    </section>

    <!-- Work Section-->
    <section id="work">
        <div class="container">
            <!-- Work Heading-->
            <h2 class="section-title">Work Experience</h2>
    
            <!-- Work Section Content-->
            <div class="split">
                <div class="card">
                    <div class="card-content">
                        <img src="./static/img/virtual-brain.png">
                        <h2>{{experience_list[0]}}</h2></a>
                        <p>I contributed to the UW Virtual Brain project, a VR experience that reveals how interprets sensory information.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="./static/img/tabula.png">
                        <h2>{{experience_list[1]}}</h2>
                        <p>I'm building a drawing interface that lets you create a robot path!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <img src="./static/img/mlh.jpg">
                        <h2>{{experience_list[2]}}</h2>
                        <p>I'm creating, testing, and deploying this website on a virtual private server with the mentorship of Meta employees.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Education Section-->
    <section id="education" class="bg-alternate">
        <div class="container">
            <!-- Education Heading-->
            <h2 class="section-title">Education</h2>
    
            <!-- Education Section Content-->
            <div>
                <p>
                    {{university}}, {{years}}
                    <br>
                    {{degree}}
                    <br>
                    <br>
                    Organizations: WACM, Girls Who Code
                </p> 
            </div>
    </section>

    <!-- Hobbies Section-->
    <section id="hobbies">
        <div class="container">
            <!-- Hobbies Heading-->
            <h2 class="section-title">Hobbies</h2>

            <!-- Hobbies Section Content-->
            <div class="split">
                <div class="card">
                    <div class="card-content">
                        <img src="./static/img/book.jpg">
                        <div>
                            <h2>{{ hobby_list[0] }} </h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="./static/img/journal.jpg">
                    <div>
                        <h2>{{ hobby_list[1] }} </h2>
                    </div>
                </div>
                <div class="card">
                    <img src="./static/img/sneakers.jpg">
                    <div>
                        <h2>{{ hobby_list[2] }} </h2>
                    </div>
                </div>
            </div>
    </section>

    <!-- Location Section-->
    <section id="locations" class="bg-alternate">
        <div class="container">
            <!-- Location Heading-->
            <h2 class="section-title">Cool Places I've Been</h2>

            <!-- Location Section Content-->
            <div class="responsive-iframe">
                <!-- put the map iframe here -->
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XH7YSZNH1D0C2EyBt-MWoSai8VBj-zg&ehbc=2E312F"></iframe>
            </div>
    </section>
{% endblock %}