<!DOCTYPE html>

<html>   
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Arimo:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/my_styles.css') }}">
    <title>{{ title }}</title>
    <head></head>

<body id="page-top">
    <div class="container">
        <header>
            <h2 class="logo">Lauren Ciha</h2>
            <!-- Navigation-->
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <h1 class="nav-logo">Lauren Ciha</h1>
                <ul>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#hobbies">Hobbies</a></li>
                    <li><a href="#work">Experience</a></li>
                    <li><a href="#locations">Places Visited</a></li>
                    <li><a href="/timeline">Timeline</a></form></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
        </header>
    </div>

    <br></br>

    <!-- Landing Page -->
    <section id="intro">
        <div class="container">
            <div class="split">
                <div class="intro-text">
                    <!-- Intro Text-->
                    <h1 class="intro-heading">Hi! I'm Lauren.</h1>
                    <p>I'm an up and coming software engineering exploring technology and what it means for us.</p>
                    <p class="buttons-social"> 
                        <a class="button-social" href="https://github.com/lauren-ciha"><i class="fab fa-github"></i></a>
                        <a class="button-social" href="https://calendly.com/lauren-ciha"><i class="fas fa-calendar-alt"></i></a>
                        <a class="button-social" href='https://www.linkedin.com/in/lauren-ciha/'><i class="fab fa-linkedin-in"></i></a>
                        <a class="button-social" href=""><i class="fab"></i></a>
                    </p>
                </div>
                <div>
                    <img class="headshot" src="./static/img/lauren.jpg" alt="My current headshot" />
                </div>
            </div>
        </div>    
    </section>

    <!-- About Me -->
    <section id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="section-title">About Me</h2>

            <!-- About Section Content-->
            <div>
                <p>I'm a rising senior studying computer sciences and philosophy at the University of Wisconsin-Madison. My experience so far has been in Java, C#/Unity, and Python in research settings. In the first half of 2020, I taught myself C# and Unity to program the movement of a virtual reality character. I'm searching for new internships, co-ops, and/or full-time roles in the corporate world.</p>
            </div>
        </div>
    </section>

    <!-- Education Section-->
    <section id="education">
        <div class="container">
            <!-- Education Heading-->
            <h2 class="section-title">Education</h2>
    
            <!-- Education Section Content-->
            <div><p>
                <ul>
                    {% for n in education_list %}
                    <li>{{n}}</li>
                    {% endfor %}
                </ul></p> 
            </div>
    </section>

    <!-- Hobbies Section-->
    <section id="hobbies">
        <div class="container">
            <!-- Hobbies Heading-->
            <h2 class="section-title">Hobbies</h2>

            <!-- Hobbies Section Content-->
            <div class="split">
                <div>
                    <img src="./static/img/lauren_travel.jpg" alt="At the Brooklyn Bridge in NYC" />
                </div>
                <div>
                    <img src="./static/img/pexels-pixabay-159866.jpg" alt="books" />
                </div>
                <div>
                    <img src="./static/img/creative-606541.jpg" alt="journal" />
                </div>
            </div>
            <div><p>
                <ul>
                    {% for n in hobby_list %}
                    <li>{{n}}</li>
                    {% endfor %}
                </ul>
            </p></div>
            </div>
    </section>

    <!-- Work Section-->
    <section id="work">
        <div class="container">
            <!-- Work Heading-->
            <h2 class="section-title">Work Experience</h2>

            <!-- Work Section Content-->
            <div><p>
                    <ul>
                        {% for n in experience_list %}
                        <li>{{n}}</li>
                        {% endfor %}
                    </ul>   
            </p></div>
        </section>

    <!-- Location Section-->
    <section id="locations">
        <div class="container">
            <!-- Location Heading-->
            <h2 class="section-title">Cool Places I've Been</h2>

            <!-- Location Section Content-->
            <div>
                <!-- put the map iframe here -->
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1XH7YSZNH1D0C2EyBt-MWoSai8VBj-zg&ehbc=2E312F"></iframe>
            </div>
    </section>
</body>

<script href = "{{ url_for('static',filename='js/scripts.js') }}"></script>

</html> 
