<!-- add a form that accepts inputs and makes a POST request to our /api/timeline_post endpoint to create a timeline post. -->

<!-- Beneath the form, we should display all our timeline posts in the descending order. On submitting a new timeline post, the page should show the newly added timeline post. Make the page look however you'd like! -->
{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/timeline.css') }}"> 
{% endblock %}

{% block body %}
<section>
    <div class="container">
        <form class="form" id="form">
            <div class ="form-item">
                <input name="name" type="text" class="form-input"
                 placeholder="Name" aria-label="name" id="item">
            </div>
            
            <div class ="form-item">
                <input name="email" type="text" class="form-input"
                 placeholder="Email" aria-label="email" id="item">
            </div>
            
            <div class="form-item">
                <input name="content" type="content" class="form-input content"
                placeholder="Content" aria-label="content" id="item">
            </div>
            
            <button class="form-button" type="submit">Post</button>
        </form>
    </div>
</section>
<section>
    <div class="container table-section">
            <h1 class="table-head">Posts</h1>
            <table class="table">
                <tbody class="table-body">
                {% for post in timeline['timeline_posts'] %}
                 <tr>
                        <!-- Fields are id, name, email, content, created_at (a datetime) -->
                        <div class="post-row">
                           {{ post.name }} -- {{ post.email }}
                           <br>
                           {{ post.content }}
                           <br>
                           Posted: {{ post.created_at }}
                        </div>
                 </tr>
                {% endfor %}
                </tbody>
              </table>            
        </div>
</section>

        <script>
            var elements = [] ;
            elements = document.getElementsByClassName("form-input");
            for(var i=0; i<elements.length ; i++){
                elements[i].value = "" ;
            }

            const form = document.getElementById('form');
            
            form.addEventListener('submit', async(e) => {
            e.preventDefault();
            const payload = new FormData(form);

            // Post using Fetch:
            await fetch('/api/timeline_post', {
                method: 'POST',
                body: payload,
                })
                location.reload()
            });

        </script>
{% endblock %}